<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="base_length" value="0.40" />
  <xacro:property name="base_width" value="0.30" />
  <xacro:property name="base_height" value="0.0062" />
  <xacro:property name="base_mass" value="1" />
  <xacro:property name="layer2_length" value="0.35"/>
  <xacro:property name="layer2_width" value="0.25"/>
  <xacro:property name="layer2_height" value="0.0062"/>


  <xacro:property name="wheel_radius" value="0.0475" />
  <xacro:property name="wheel_width" value="0.014" />
  <xacro:property name="wheel_pos_x" value="0.150" />
  <xacro:property name="wheel_pos_y" value="0.13" />
  <xacro:property name="wheel_pos_z" value="-0.03" />
  <xacro:property name="wheel_mass" value=".1" />
  <xacro:property name="wheel_torque" value="20" />
  <xacro:property name="front_caster_wheel" value="false" />
  <xacro:property name="rear_caster_wheel" value="true" />

  <xacro:property name="laser_pose">
    <origin xyz="0.125 0 0.0062" rpy="0 0 0"/>
  </xacro:property>

  <!-- <xacro:property name="depth_sensor_pose">
    <origin xyz="0.14 0.0 0.045" rpy="0 0 0"/>
  </xacro:property> -->
</robot>
